.main{
    #walletAddress{

    }
    .bid {
        .bidText{
            text-align: left !important;
        }
        .getAssets{
            position: absolute;
            margin: 10px;
            left: 0px;
        }
    }
}